body {
	background-image : url(../img/anime-fon.jpg);
}

.left {
	margin: 0 auto;
    height:100%;
	background-color: blue;
}

.right {
	margin: 0 auto;
    height:100%;
	background-color: red;
}

.centerr{
	margin: 0 auto;
    height:100%;
	background-color: green;
}

.main_body{
	margin: 10px auto;
    height: auto;
}